flow.json
[
    {
        "id": "91b495f8a87d95e7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3babad9404679348",
        "type": "MSSQL",
        "z": "91b495f8a87d95e7",
        "mssqlCN": "3a543b749de2482d",
        "name": "",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "\r\n",
        "modeOpt": "queryMode",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "msg",
        "paramsOpt": "queryParams",
        "paramsOptType": "msg",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": false,
        "params": [],
        "x": 740,
        "y": 140,
        "wires": [
            [
                "ba4b0ec65b4ebab8"
            ]
        ]
    },
    {
        "id": "ba4b0ec65b4ebab8",
        "type": "debug",
        "z": "91b495f8a87d95e7",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 260,
        "wires": []
    },
    {
        "id": "c529dd6a3e5e523f",
        "type": "function",
        "z": "91b495f8a87d95e7",
        "name": "function 2",
        "func": "var jsonData = msg.payload;\n\n// Kiểm tra nếu dữ liệu không phải là một chuỗi\nif (typeof jsonData === 'string') {\n    try {\n        jsonData = JSON.parse(jsonData);\n    } catch (e) {\n        node.error(\"Không thể parse dữ liệu JSON: \" + e);\n        return null;\n    }\n}\n\n// Kiểm tra nếu dữ liệu không phải là một mảng JSON\nif (!Array.isArray(jsonData)) {\n    node.error(\"Dữ liệu không hợp lệ. Yêu cầu một mảng JSON.\");\n    return null;\n}\n\n// Lặp qua từng bản ghi JSON trong mảng và tạo câu lệnh SQL hoàn chỉnh\nvar sqlStatements = jsonData.map(item => {\n    var query = `INSERT INTO SensorHistory (SID, Value, [Time]) VALUES (${item.SID}, ${item.Value}, '${item.Time}')`;\n    return query;\n});\n\n// Gộp tất cả các câu lệnh SQL thành một chuỗi để thực hiện nhiều câu lệnh cùng một lúc\nmsg.payload = sqlStatements.join(\";\\n\");\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 120,
        "wires": [
            [
                "3babad9404679348"
            ]
        ]
    },
    {
        "id": "95a8037c4bac54d8",
        "type": "inject",
        "z": "91b495f8a87d95e7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "f59a1e25728ee396"
            ]
        ]
    },
    {
        "id": "f59a1e25728ee396",
        "type": "http request",
        "z": "91b495f8a87d95e7",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8000/api/data",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 220,
        "wires": [
            [
                "a121ae65d77f6d23"
            ]
        ]
    },
    {
        "id": "75eb3697f3decbe3",
        "type": "http in",
        "z": "91b495f8a87d95e7",
        "name": "",
        "url": "/select",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "7571a1b6060a18d5"
            ]
        ]
    },
    {
        "id": "7571a1b6060a18d5",
        "type": "function",
        "z": "91b495f8a87d95e7",
        "name": "function 3",
        "func": "var query = `select * from SensorHistory \n`\nmsg.topic = query\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 340,
        "wires": [
            [
                "5486e7635e647de9"
            ]
        ]
    },
    {
        "id": "5486e7635e647de9",
        "type": "MSSQL",
        "z": "91b495f8a87d95e7",
        "mssqlCN": "3a543b749de2482d",
        "name": "",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "",
        "modeOpt": "queryMode",
        "modeOptType": "query",
        "queryOpt": "topic",
        "queryOptType": "msg",
        "paramsOpt": "payload",
        "paramsOptType": "msg",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 340,
        "y": 440,
        "wires": [
            [
                "7be1a5d341f9f64b"
            ]
        ]
    },
    {
        "id": "7be1a5d341f9f64b",
        "type": "http response",
        "z": "91b495f8a87d95e7",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 550,
        "y": 380,
        "wires": []
    },
    {
        "id": "a121ae65d77f6d23",
        "type": "json",
        "z": "91b495f8a87d95e7",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 80,
        "wires": [
            [
                "c529dd6a3e5e523f"
            ]
        ]
    },
    {
        "id": "3a543b749de2482d",
        "type": "MSSQL-CN",
        "tdsVersion": "7_4",
        "name": "Thêm dữ liệu",
        "server": "DUYCAO",
        "port": "1433",
        "encyption": true,
        "trustServerCertificate": true,
        "database": "DEMO_IOT",
        "useUTC": true,
        "connectTimeout": "15000",
        "requestTimeout": "15000",
        "cancelTimeout": "5000",
        "pool": "5",
        "parseJSON": false,
        "enableArithAbort": true,
        "readOnlyIntent": false
    }
]